.dashboard-page {
  .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 25px;
    padding-bottom: 15px;

    border-bottom: 1px solid #3b3b3b;

    margin-bottom: 50px;

    .name {
      .email {
        font-size: 14px;

        color: #7c7c7c;
      }
    }
  }

  .navigation-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
      display: block;
      border-radius: 50px;
      background: #ebf2f3;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      font-size: 21px;

      color: inherit;

      padding: 40px 0;

      margin-bottom: 35px;

      width: 100%;
    }
  }
}
