.text-input {
  display: block;
  width: 100%;

  font-size: 16px;

  padding: 20px;

  outline-color: #c2d7da;

  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;

  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
