.input-with-text {
  display: flex;
  width: 100%;
  align-items: center;

  margin-bottom: 15px;

  .react-toggle {
    .react-toggle-track {
      width: 57.5px;
      height: 30px;
    }

    .react-toggle-thumb {
      width: 30px;
      height: 30px;

      top: 0;
    }

    .react-toggle-track-check,
    .react-toggle-track-x {
      height: 18px;
    }

    .react-toggle-track-x {
      right: 14px;
    }
  }

  .text {
    margin-left: 20px;
  }
}
